*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
}

.navbar {
  background-color:chocolate;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin: 0;
}

.logo {
  background-color:goldenrod;
  font-size: 24px;
  color: whitesmoke;
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 12px;
  font-weight: 800;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 24px 0px;
}

a{
  text-decoration: none;
}

img {
  width: auto;
  height: auto;
}

.navbar-links{
  flex: 1;
  padding: 0px 20px;
}

.link-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0px 20px;
  list-style-type: none;
}

.link {
  color: whitesmoke;
}

.profile{
  background-color:goldenrod;
  color: whitesmoke;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: large;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  max-width: 100%;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 15px;
  background-color: sandybrown;
  flex-wrap: wrap;
  flex-basis: 200px;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px;
  gap: 10px;
  max-width: 500px;
  align-items: center;
}

.meal-home {
  width: 320px;
  height: 240px;
}

h2{
  font-size: 30px;
  text-align: center;
  margin-top: 16px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  gap: 36px;
}

.card {
  background-color: coral;
  padding: 36px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 1 250px;
  width: auto;
  height: 250px;
}

.card-img {
  width: 95%;
  height: 95%;
  border: 5px solid transparent;
  border-radius: 10%;
  object-fit: cover;
}

.card-link {
  font-size: 24px;
  color: whitesmoke;
  text-align: center;
}

.footer {
  height: 54px;
  background-color: chocolate;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: whitesmoke;
  font-size: 12px;
}

.about-content {
  font-size: 18px;
  margin: 55px;
}